html
    head  
        title = hom   
        //- link(rel="steelsheet",href="index.css")
        style 
            include index.css 
    body 
        include ./Header.pug
        h1.titre   Ceci est la page d'accueil 

